$sidebar-bg : #313131;
$sidebar-a-color : #ccc;
$sidebar-a-color-hvr : #06c7f2;
$sidebar-a-bg-hvr : #273742;
$sidebar-a-border : #041821;
$secondary-color : #F08519 ; 
$snipped : #265365;
$snipped-hover : #5A7693;
$secondary : #2C3E50; 
$img-border: #c3c3c3; 
$sidebar-icon-color: #F08519; 
$primary-bg: #37393f; 
$card-bg:  #474951; 
 
 